html,body{
    background-color: white;
    width: 99%;
    height: 99%;
}

.container{
    display: flex;
    height: 99%;

}

.content{
    display: flex;
    flex-direction: column;
    width: 99%;
    margin-left: 15px;
}

.cont{
    display: flex;
}

.Header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid lightgray;
    border-radius: 15px;
    flex-grow: 0;
    flex-shrink: 0;
}

.Home {
    font-size: 30px;
}

.content span i {
    margin-right: 8px;
}

.Search input{
    font-size: 17px;
    padding: 6px;
    border: none;
    border-radius: 8px;
    background-color: #e1e1e1;
}

.Search input:focus{
    outline: none;
}

.Search i{
    font-size: 20px;
    margin-right: 7px;
    padding-top: 7px;
}

.nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    width: 230px;
    border-right: 2px solid lightgray;
    margin-left: 5px;
    
}

.nav span{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 15px;
}

.sidebar{
    display: flex;
    flex-direction: column;
}

.sideitem{
    margin-bottom: 7px ;
    text-decoration: none;
    color: #019654;
    padding: 15px;
    margin-right: 10px;
}

.sideitem i {
    padding-right:7px ;
}

.sideitem:hover{
    background-color: #b9ffe1;
    transition: 1s;
    border-radius: 15px;
}

.cont{
    flex-direction: column;
    margin-left: 40px;
}

.cont h1{
    padding-top: 15px;
    padding-bottom: 50px;
    border-bottom: 1px solid lightgray;
}

.main_cont{
    display: flex;
    margin-left: 20px;
}

.livecont{
    display: flex;
    padding: 5vh 17vh 5vh 3vh;
    margin-right: 20px;
    border-radius: 15px;
    border: 1px solid lightgray;
    text-decoration: none;
}

.livecont a{
    text-decoration: none;
    color: black;
}

.php{
    margin-top: 27px;
    font-size: 25px;
}

.livecont i{
    font-size: 50px;
    border-radius: 50px;
    padding: 15px 15px;
    margin-right: 70px;
}

.livecont1 i{
    color:  #019654;
    background-color: #b9ffe1;
}

.num1:hover{
    background-color: #b9ffe1;
    transition: 2s;
}

.livecont2 i{
    color: #5049FF;
    background-color: #d9d7fc;
}

.num2:hover{
    background-color: #d9d7fc;
    transition: 2s;
}

.livecont1 span{
    position: absolute;
}

.livecont2 span{
    position: absolute;
}
