.Header{
    margin-bottom: 50px;
}
.content {
    flex: 1;
}

.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data {
    width: 100%;
    border-collapse: collapse;
}

.data th, .data td {
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid lightgray ;
}

.data th {
    background-color: #f7f7f7;
    font-weight: bold;
}

.data tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-info {
    margin-right: 10px;
    background-color: #17a2b8;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-success {
    bottom: 195px;
    background-color: #28a745;
    color: #fff;
}
